aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
py-tgcalls==0.9.1
pykeyboard
pyrogram==2.0.49
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
wget
youtube-search
youtube-search-python
yt-dlp
